<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
    <a class="navbar-brand" href="{link persons}">Výpis osob</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{link newWithAddress}">
                    Nová osoba
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            </li
            {if empty($_SESSION['user'])}>
            <li class="nav-item">
                <a class="nav-link" href="{link login}">
                    Přihlásit
                </a>
            </li>
            {/if}
            {if !empty($_SESSION['user'])}
                <li class="nav-item">
                    <a class="nav-link" href="{link logout}">
                        Odhlásit {$_SESSION['user']['login']}
                    </a>
                </li>
            {/if}
        </ul>
    </div>
    </div>
</nav>
<!-- chyba -->
{if !empty($error)}
    <div class="container">
        <p class="alert alert-danger">
            {$error}
        </p>
    </div>
{/if}

<!-- obsah -->
{include body}
</body>
</html>